<#import "/layout/_container.ftl" as defaultLayout>

<@defaultLayout.layout>

<div class="main-content-inner">

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="error-container">
                    <div class="well">
                        <h1 class="grey lighter smaller">
											<span class="blue bigger-125">
												<i class="ace-icon fa fa-random"></i>
												400
											</span>
                            request请求失败，可能是参数类型不正确！
                        </h1>


                        <hr/>
                        <div class="space"></div>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>


</@defaultLayout.layout>