<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onemile.bms.mapper.zxshare.company.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.onemile.bms.entity.zxshare.company.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="pay_password" property="payPassword" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="head_url" property="headUrl" jdbcType="VARCHAR" />
    <result column="rank_points" property="rankPoints" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="last_x" property="lastX" jdbcType="VARCHAR" />
    <result column="last_y" property="lastY" jdbcType="VARCHAR" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, password, pay_password, nick_name, mobile, gender, birthday, head_url, 
    rank_points, status, last_x, last_y, last_login_ip, last_login_time, gmt_create, 
    gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.onemile.bms.entity.zxshare.company.UserInfo" >
    insert into user_info ( user_name, password, 
      pay_password, nick_name, mobile, 
      gender, birthday, head_url, 
      rank_points, status, last_x, 
      last_y, last_login_ip, last_login_time, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{payPassword,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{birthday,jdbcType=DATE}, #{headUrl,jdbcType=VARCHAR}, 
      #{rankPoints,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{lastX,jdbcType=VARCHAR}, 
      #{lastY,jdbcType=VARCHAR}, #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP});
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.onemile.bms.entity.zxshare.company.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="payPassword != null" >
        pay_password,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="headUrl != null" >
        head_url,
      </if>
      <if test="rankPoints != null" >
        rank_points,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastX != null" >
        last_x,
      </if>
      <if test="lastY != null" >
        last_y,
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null" >
        #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="headUrl != null" >
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="rankPoints != null" >
        #{rankPoints,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="lastX != null" >
        #{lastX,jdbcType=VARCHAR},
      </if>
      <if test="lastY != null" >
        #{lastY,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
    
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onemile.bms.entity.zxshare.company.UserInfo" >
    update user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null" >
        pay_password = #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="headUrl != null" >
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="rankPoints != null" >
        rank_points = #{rankPoints,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="lastX != null" >
        last_x = #{lastX,jdbcType=VARCHAR},
      </if>
      <if test="lastY != null" >
        last_y = #{lastY,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onemile.bms.entity.zxshare.company.UserInfo" >
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      pay_password = #{payPassword,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=DATE},
      head_url = #{headUrl,jdbcType=VARCHAR},
      rank_points = #{rankPoints,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      last_x = #{lastX,jdbcType=VARCHAR},
      last_y = #{lastY,jdbcType=VARCHAR},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="listPage" resultType="com.onemile.bms.pojo.vo.zxshare.company.UserInfoVO">
    SELECT
	t.id id,
	t.user_name userName,
	t.PASSWORD password,
	t.pay_password payPassword,
	t.nick_name nickName,
	t.mobile mobile,
	t.gender gender,
	t.birthday birthday,
	t.head_url headUrl,
    uv.real_name realName,
	t.rank_points rankPoints,
	 if(t.status=0,10,t.status) s_status,
	t.STATUS status,
	t.last_x lastX,
	t.last_y lastY,
	t.last_login_ip lastLoginIp,
	t.last_login_time lastLoginTime,
	t.gmt_create gmtCreate,
	t.gmt_modified gmtModified,
 (
    CASE
    WHEN uv.verify_type IS NULL THEN
    0
    ELSE
    uv.verify_type
    END
    ) AS verifyType
  from
user_info  t
LEFT JOIN user_verify uv  on t.id=uv.user_id
    <where>
      <if test="id != null and id!=''" >
        and t.id =#{id}
      </if>
      <if test="nickName != null and nickName!=''" >
        and t.nick_name like concat('%', #{nickName}, '%')
      </if>
      <if test="mobile != null and mobile!=''">
        and t.mobile like concat('%', #{mobile}, '%')
      </if>
      <if test="verifyType != null and verifyType!=''">
        and uv.verify_type = #{verifyType}
      </if>
      <if test="status != null">
        and t.status = #{status}
      </if>
      <if test="beginDate != null and beginDate!=''">
        and <![CDATA[ left(t.gmt_create,10) >=  #{beginDate}  ]]>
      </if>
      <if test="endDate != null and endDate!=''">
        and <![CDATA[ left(t.gmt_create,10) <=  #{endDate}  ]]>
      </if>
    </where>
    order by s_status desc ,t.gmt_create desc
  </select>
</mapper>